<ul class="list-group">
                
    <li class="list-group-item" data-bs-toggle="collapse" href="#brandComponent" role="button" aria-expanded="false" aria-controls="brandComponent">
        Brands
    </li>
    <div class="collapse" id="brandComponent">
        <div class="card card-body">
            <app-brand></app-brand>
        </div>
    </div>

    <li class="list-group-item" data-bs-toggle="collapse" href="#colorComponent" role="button" aria-expanded="false" aria-controls="colorComponent">
        Colors
    </li>
    <div class="collapse" id="colorComponent">
        <div class="card card-body">
            <app-color></app-color>
        </div>
    </div>
    
    <li class="list-group-item" data-bs-toggle="collapse" href="#customerComponent" role="button" aria-expanded="false" aria-controls="customerComponent">
        Customers
    </li>
    <div class="collapse" id="customerComponent">
        <div class="card card-body">
            <app-customer></app-customer>
        </div>
    </div>


    <!-- <li class="list-group-item" data-bs-toggle="collapse" href="#rentalComponent" role="button" aria-expanded="false" aria-controls="rentalComponent">
        Rentals
    </li>
    <div class="collapse" id="rentalComponent">
        <div class="card card-body">
            <app-rental></app-rental>
        </div>
    </div> -->
</ul>